@media (min-width: 1200px) {
  .container {
    max-width: 1460px;
  }
}

/*-----------------------------Tablet-----------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler {
    background-color: none;
  }

  .navlist ul > li a {
    font-size: 16px;
  }

  .logo {
    width: 18%;
  }
  .header_section {
    background-size: 68% 85%;
    height: 650px;
  }

  .furniture_text {
    margin-top: 20px;
    font-size: 50px;
  }
  .there_text {
    width: 50%;
    font-size: 15px;
  }

  .circle-container {
    margin-top: 40px;
  }

  .carousel-indicators {
    margin-bottom: 60px;
    margin-left: 100px;
  }

  #costum_slider a.carousel-control-prev {
    left: 400px;
  }

  #costum_slider a.carousel-control-next {
    right: 180px;
  }
  #costum_slider .carousel-control-prev,
  #costum_slider .carousel-control-next {
    margin-top: -30px;
    width: 50px;
    height: 50px;
  }
  .navicon {
    font-size: 60px !important;
  }
  .social-icon {
    margin-left: 20px;
  }
  .logonav {
    width: 15%;
  }
  .card-no-bg {
    margin-top: 20px;
  }
  .testimonials .tes-cont.tes-cont-left .tes-cont.tes-cont-image-1,
  .testimonials .tes-cont.tes-cont-left img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
  }
  .testimonials .tes-cont.tes-cont-left::before {
    left: -40px;
    width: 200px;
    height: 200px;
  }
  .testimonials .tes-cont.tes-cont-left .tes-cont.tes-cont-no {
    left: 15%;
    width: 60px;
    height: 60px;
    background-size: 30px;
  }
  p {
    width: 100%;
  }
  .testimonials .tes-cont.tes-cont-body p {
    width: 150%;
    font-size: 10px;
    margin-left: -50px;
  }
  .testimonials
    .tes-cont.tes-cont-comment
    .tes-cont.tes-cont-field-person-image
    img {
    width: 30px;
    height: 30px;
    margin-top: 55px;
  }

  .testimonials .tes-cont.tes-cont-name {
    margin-left: 5px;
    margin-top: 50px;
  }

  .testimonials .tes-cont.tes-cont-des {
    margin-left: 10px;
  }

  .tes-cont-right {
    margin-left: 40px;
  }
  .about-animate
    div#about-us-div
    .about-cont.about-cont-right
    .about-cont.about-cont-1v {
    display: none;
  }
  div#about-us-div .about-cont.about-cont-right img {
    margin-top: 150px;
  }
  div#customers-div .item-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  div#contact-us-div .form-item label {
    margin-left: -200px;
  }
  div#contact-us-div .form-item textarea,
  div#contact-us-div .form-item input {
    margin-left: -200px;
    width: 500px;
  }
  div#contact-us-div #actions input {
    margin-left: -40px;
  }
  .footer_logo img {
    margin-left: 200px;
    width: 70%;
  }
  .col-md-8.footer_menu {
    margin-top: 50px;
    gap: 30px;
    font-size: 10px;
  }
  div#block-copyright p {
    font-size: 8px;
    width: 250%;
    margin-left: -200px;
  }
}

/*-----------------------------Mobile-----------------------------*/

@media (max-width: 634px) {
  .navbar-toggler {
    background-color: none;
  }
  .logo {
    margin-left: -5px;
    width: 30%;
  }
  .navicon {
    margin-right: -180px;
    font-size: 40px !important;
  }
  .navbar {
    margin-top: -50px;
  }
  .furniture_text {
    margin-left: 10px;
    margin-top: 25px;
    font-size: 30px;
  }
  .there_text {
    margin-left: 10px;
    font-size: 15px;
  }
  .circle-container {
    margin-left: 10px;
  }
  #costum_slider a.carousel-control-next {
    display: none;
  }
  #costum_slider a.carousel-control-prev {
    display: none;
  }
  .carousel-indicators {
    margin-bottom: -150px;
    margin-left: 45px;
  }
  .navlist ul > li a {
    font-size: 12px;
    margin-left: 20px;
  }
  .logonav {
    width: 25%;
  }
  .social-icon {
    margin-left: 10px;
  }
  .closeicon {
    /* margin-top: 200px;
    margin-bottom: -150px;
    margin-right: -100px; */
  }
  h6,
  h2 {
    margin-top: 10px;
  }
  .ptext {
    font-size: 14px;
    width: 100%;
    color: white;
  }
  section {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .card-no-bg {
    margin-top: 20px;
  }
  div#customers-div .item-list ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .testimonials .tes-cont.tes-cont-left .tes-cont.tes-cont-image-1,
  .testimonials .tes-cont.tes-cont-left img {
    margin-top: -50px;
    width: 200px;
    height: 200px;
    margin-left: 70px;
  }
  .testimonials .tes-cont.tes-cont-left::before {
    margin-top: -100px;
    left: -5px;
    width: 200px;
    height: 200px;
  }
  .testimonials .tes-cont.tes-cont-left .tes-cont.tes-cont-no {
    margin-top: -55px;
    left: 30%;
    width: 80px;
    height: 80px;
  }
  p {
    width: 100%;
  }
  .testimonials .tes-cont.tes-cont-body p {
    width: 1550%;
    font-size: 20px;
    margin-top: 550px;
    margin-left: -450px;
  }
  .testimonials
    .tes-cont.tes-cont-comment
    .tes-cont.tes-cont-field-person-image
    img {
    display: none;
  }

  .testimonials .tes-cont.tes-cont-name {
    display: none;
  }

  .testimonials .tes-cont.tes-cont-des {
    display: none;
  }

  .tes-cont-right {
    margin-left: 40px;
  }
  .about-animate
    div#about-us-div
    .about-cont.about-cont-right
    .about-cont.about-cont-1v {
    display: none;
  }
  div#about-us-div .about-cont.about-cont-right img {
    margin-top: 150px;
  }
  div#customers-div .item-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  div#contact-us-div .form-item label {
    margin-left: -200px;
  }
  div#contact-us-div .form-item textarea,
  div#contact-us-div .form-item input {
    margin-left: -200px;
    width: 500px;
  }
  div#contact-us-div #actions input {
    margin-left: -40px;
  }
  .footer_logo img {
    margin-left: 200px;
    width: 70%;
  }
  .col-md-8.footer_menu {
    margin-top: 50px;
    gap: 30px;
    font-size: 10px;
  }
  div#block-copyright p {
    font-size: 8px;
    width: 250%;
    margin-left: -200px;
  }
  /*-------------------------------------------------*/
  .last {
    display: none;
  }
  .carousel-caption {
    display: none;
  }
  .header {
    padding-top: 0px;
  }
  .btn-primary {
    max-width: 126px;
    margin-right: 2px;
    font-size: 14px;
  }
  .banner-main .carousel-caption h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .titlepage h2 {
    font-size: 27px;
  }
  .sporrt_text {
    font-size: 23px;
    margin-top: 0px;
  }
  .main {
    width: 100%;
  }
  .btn_main {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 55%;
  }

  #main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
  }

  #main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
  }

  .titlepage h2::after {
    width: 93%;
  }
  .about-box .titlepage h2::after {
    width: 238px;
    right: -50px;
  }
  .Gallery .titlepage h2 {
    font-size: 47px;
  }
  .Gallery .titlepage h2::after {
    width: 89%;
  }

  .paddimg-right {
    padding-right: 15px;
  }
  .paddimg-left {
    padding-left: 15px;
  }
  .Nursery-img .text-box h3 {
    font-size: 23px;
    padding: 30px 14px;
  }

  .contact .titlepage h2::after {
    left: -8px;
    width: 281px;
  }
  .footer .headinga span {
    font-size: 16px;
  }
  .menu-bottom {
    margin-bottom: 45px;
  }
  ul.link li {
    padding: 8px 12px;
    padding-bottom: 0px;
  }

  .header_section {
    background-size: cover;
  }
  .banner_section {
    background-size: cover;
    padding-top: 20px;
  }
  .furniture_text {
    font-size: 50px;
  }
  .there_text {
    width: 100%;
    font-size: 15px;
  }
  .contact_bt_main {
    width: 150px;
  }
  .contact_bt {
    margin-top: 20px;
  }
  .dummy_text {
    font-size: 15px;
  }
  .services_section2 {
    padding-top: 30px;
  }
  .icon_1 {
    padding-top: 30px;
  }
  .read_bt_main {
    width: 150px;
  }
  .lorem_text {
    padding-top: 0px;
    font-size: 15px;
  }
  .read_bt1 {
    width: 150px;
    margin-top: 20px;
  }
  .image_1 {
    padding-top: 50px;
  }
  .get_bt_main {
    width: 150px;
  }
  .get_bt {
    margin-top: 20px;
  }
  .client_text {
    font-size: 22px;
  }
  .client_1 {
    width: 100%;
  }
  .client_2 {
    width: 100%;
  }
  .quote_icon {
    width: 150px;
    bottom: -8px;
  }
  .loksans_text {
    padding-top: 20px;
  }

  .overlay {
    top: 35px;
  }
  .icon {
    font-size: 70px;
  }
  .dololr_text {
    font-size: 16px;
  }
  .contact_section {
    background-size: cover;
  }
  .send_bt a {
    width: 130px;
    padding: 5px 0px;
  }
  .input-group {
    width: 290px;
  }
  .container_main1::after {
    width: 98%;
    height: 93%;
  }
}
