/*-----------------------------import Fonts-----------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/*
  1) font-family: 'Rajdhani', sans-serif;
  2) font-family: 'Poppins', sans-serif;
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  line-height: 1.80857;
  overflow-x: hidden;
  background-color: #242424;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #111111;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-item {
  position: relative;
}

.navbar-nav.mr-auto ul {
  margin: 0px;
  padding: 0px;
}

.header_section {
  margin-top: -200px;
  width: 100%;
  height: 800px;
  float: left;
  background-image: url(../images/slider.jpg);
  background-size: 78% 85%;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.logo {
  width: 13%;
  margin-top: 70px;
  margin-left: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navicon {
  font-size: 100px !important;
  margin-left: -100px !important;
  margin-top: 90px;
  font-size: 100px;
  color: white;
}

.btnn {
  width: 100px;
  background: none;
  border: none;
}

.btnn:active,
.btnn:focus {
  outline: none !important;
  border: none !important;
}

.navbar-toggler {
  display: block !important;
  border: none !important;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  border: none !important;
}

.custom-toggler {
  display: block !important;
}

.custom-collapse {
  display: none;
  background-image: url(../images/nav.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin-left: 50px;
}

.logonav {
  width: 11%;
  margin-top: 110px;
  margin-left: 40px;
}

.closeicon {
  margin-right: 40px;
}

.navlist a {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
}

.navlist li:hover {
  color: #f2c744 !important;
  cursor: default;
}

.social-icon {
  display: inline;
  margin-left: 70px;
}

.social-icon2 {
  display: inline;
  margin-left: 10px;
}

.furniture_text {
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 75px;
}

.there_text {
  width: 40%;
  font-size: 20px;
  margin-left: 80px;

  color: #fff;
}

.circle-container {
  margin-top: 90px;
  margin-left: 100px;
  cursor: default;
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

.circle-container:hover .circle {
  transform: translateX(80px);
  background-color: #f2c744;
}

.text-container {
  position: absolute;
  top: -25px;
  left: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  display: inline-flex;
  color: #fff;
  border: none;
  font-weight: bold;
}

#costum_slider a.carousel-control-prev {
  left: 700px;
}

#costum_slider a.carousel-control-next {
  right: 600px;
}

#costum_slider .carousel-control-prev,
#costum_slider .carousel-control-next {
  top: 80%;
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  opacity: 1;
  border-radius: 100px;
}

#costum_slider .carousel-control-prev:hover,
#costum_slider .carousel-control-next:hover {
  background: #f2c744;
}

.material-symbols-outlined {
  color: #000;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.carousel-indicators {
  margin-bottom: 60px;
  margin-left: -450px;
}
.carousel-indicators li {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.carousel-indicators li.active {
  background-color: #f2c744;
}
h6,
h2 {
  color: white;
  text-transform: uppercase;
}
h2 {
  font-weight: bold;
}
section {
  margin-top: 150px !important;
  margin-left: 110px;
  margin-right: 110px;
}

.ptext {
  font-size: 12px;
  width: 25%;
  color: white;
}
.card-no-bg {
  border: 1px solid #fff;
  background: none;
  color: #fff;
}

.card-title {
  margin-top: 20px !important;
}

.card-body {
  height: 350px;
}

/* Testimonials Section Start*/

.testimonials .des {
  display: flex;
  width: 100%;
  align-items: center;
}

.testimonials .tes-cont.tes-cont-left {
  position: relative;
}

.testimonials .tes-cont.tes-cont-left {
  justify-content: end;
  transition-delay: 0.6s;
  opacity: 1;
}
.testimonials .tes-cont.tes-cont-left .tes-cont.tes-cont-image-1,
.testimonials .tes-cont.tes-cont-left img {
  width: 276px;
  height: 276px;
  border-radius: 50%;
  margin-left: 110px;
  position: relative;
  z-index: 2;
}
.testimonials .tes-cont.tes-cont-left .tes-cont.tes-cont-image-1 {
  margin-right: 130px;
}

.testimonials .tes-cont.tes-cont-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 85px;
  width: 276px;
  height: 276px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.testimonials .tes-cont.tes-cont-left .tes-cont.tes-cont-no {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 117px;
  height: 117px;
  background: url("../images/comma.png") no-repeat center;
  background-size: 52px;
  background-color: #1a1a1a;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 50%;
}

.testimonials .tes-cont.tes-cont-body {
  font-size: 12px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 30px;
  height: 85px;
}

.testimonials
  .tes-cont.tes-cont-comment
  .tes-cont.tes-cont-field-person-image
  img {
  width: 44px;
  height: 44px;
}

.testimonials .tes-cont.tes-cont-name {
  margin-left: 5px;
  color: white;
  font-size: 13px;
}

.testimonials .tes-cont.tes-cont-des {
  margin-left: 5px;
  color: white;
  font-size: 10px;
}

.tes-cont-right {
  margin-left: 40px;
}

/* Testimonials Section End*/

/* About Us Section Start*/
.homeSections .aboutUs {
  position: relative;
  padding: 40px 0;
}

.aboutUs::before {
  position: absolute;
  bottom: 135px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.about-animate div#about-us-div .about-cont.about-cont-title {
  transform: translateX(0);
}

.about-animate div#about-us-div .about-cont.about-cont-body {
  transform: translateX(0);
}

.about-animate
  div#about-us-div
  .about-cont.about-cont-right
  .about-cont.about-cont-1v {
  right: 0;
}

div#about-us-div .about-cont.about-cont-nothing {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 0;
  width: max-content;
  transform: translateX(-200px);
}

div#about-us-div .about-cont.about-cont-body {
  display: block;
  text-align: left;
  color: #fff;
  font-size: 12px;
  line-height: 21px;
  transform: translateX(-200px);
}

div#about-us-div .about-cont.about-cont-title {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  padding-top: 30px;
  padding-right: 60px;
  margin-bottom: 35px;
}

div#about-us-div .about-cont.about-cont-title::after {
  content: "";
  top: 10px;
  right: 0;
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #f2c744;
}

div#about-us-div .about-cont.about-cont-title::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f2c744;
}

div#about-us-div .views-row {
  display: inline-block;
  width: 100%;
}
div#about-us-div .about-cont.about-cont-left {
  float: left;
  width: 46%;
}
div#about-us-div .about-cont.about-cont-right img {
  width: 401px;
  height: 322px;
  margin-right: auto;
}
div#about-us-div .about-cont.about-cont-right .about-cont.about-cont-1v {
  position: absolute;
  bottom: 53%;
  width: 100%;
  height: 100%;
  font-size: 397px;
  color: #f2c744;
  font-weight: 600;
  display: flex;
  justify-content: end;
  height: 322px;
}

div#about-us-div .about-cont.about-cont-right {
  float: right;
  width: 50%;
  position: relative;
}
/* About Us Section End*/

/* Our Client Section Start*/
div#customers-div .item-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.client-animate div#customers-div .item-list ul li {
  transform: translateX(0);
}

/* Our Client Section End*/

/* Contact Us Section Start*/

div#contact-us-div iframe {
  width: 100%;
  height: 375px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.home-space section.contactUs {
  padding-top: 0;
}

div#contact-us-div .contact-cont.contact-cont-left {
  float: left;
  width: 48%;
  transform: translateX(-200px);
}

div#contact-us-div .contact-cont.contact-cont-field-contact-form {
  float: right;
  width: 48%;
  transform: translateX(200px);
}

div#contact-us-div .contact-cont.contact-cont-field-phone-number a {
  font-size: 22px;
  color: #f2c744;
  font-weight: 600;
  margin-bottom: 20px;
}

div#contact-us-div .contact-cont.contact-cont-field-contact-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

div#contact-us-div .form-item {
  display: flex;
  flex-direction: column;
  max-width: 282px;
}

div#contact-us-div .form-item.form-type-textarea {
  width: 100%;
  max-width: 100%;
}
div#contact-us-div .form-item label {
  font-size: 12px;
  color: #fff;
}
div#contact-us-div .form-item textarea,
div#contact-us-div .form-item input {
  height: 45px;
  background-color: #414141;
  border: none;
  border-radius: 8px;
  width: 100%;
}
div#contact-us-div .form-item.form-type-textarea textarea {
  height: auto;
}

div#contact-us-div #actions input {
  margin-top: 10px;
  width: 168px;
  height: 45px;
  color: #242424;
  background-color: #f2c744;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

p {
  color: white;
}
/* Contact Us Section End*/

/* Footer Section Start*/
footer {
  margin-top: 150px !important;
  margin-left: 110px;
  margin-right: 110px;
}

.footer_logo img {
  width: 50%;
}

.col-md-8.footer_menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
  gap: 43px;
  padding: 15px 0;
}
.col-md-8.footer_menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.col-md-8.footer_menu ul li a:hover {
  color: #f2c744;
}
.col-md-8.footer_menu ul li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

div#block-copyright a:hover {
  color: #f2c744;
}
div#block-copyright a {
  color: #fff;
}

/* Footer Section End*/
